@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: white;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

#loading {
    background: linear-gradient(to top, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2944&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 1;
    transition: all 1s;
}

.hidden {
    display: none!important;
}

.wrapper {
    width: 100vw;
    height: 700vh;
    /* background: linear-gradient(217deg, rgb(19, 34, 55), rgba(255, 255, 255, 0) 90.71%),
        linear-gradient(127deg, rgb(199, 122, 67), rgba(0,0,0,0) 90.71%),            
        linear-gradient(336deg, rgba(207, 50, 39, 0.8), rgba(0,0,0,0) 90.71%),
        linear-gradient(100deg, rgb(255, 255, 255), rgba(0,0,0,0) 100%); */
    background-color: black;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "sidenav main"
}

.side-panel {
    grid-area: sidenav;
    height: 100vh;
    position: sticky;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.5s;
    z-index: 5;
}

.side-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.side-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    overflow: hidden;
}

.side-panel-section1 {
    background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2944&q=80");
}

.side-panel-section2 {
    background-image: url("./images/intro.JPG");
}

.side-panel-section3 {
    background-image: url("./images/30MFF.JPG");
}

.side-panel-section4 {
    background-image: url("./images/comic.png");
}

.side-panel-section5 {
    background-image: url("./images/sounds.png");
}

.side-panel-section6 {
    background-image: url("./images/video.png");
}

.side-panel-section7 {
    background-image: url("./images/contacts.JPG");
}

.side-panel ul {
    margin: 0;
    list-style: none;
    padding-left: 50px;
}

.side-panel ul li {
    transition: font-size 0.5s, opacity 0.5s;
    opacity: 0.5;
}

.side-panel ul li:hover {
    font-size: 2rem;
}

.nav-link-active {
    font-size: 2rem;
    opacity: 1!important;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: main;
}

.section {
    position: relative;
    display: grid;
    align-content: center;
    height: 100vh;
    width: 100%;
    transition: background 0.5s;
}

/* #section-2, #section-4, #section-4 {
    background-color: white;
} */

h1 {
    margin: 0;
    font-size: 3rem;
    transition: font-size 0.1s;
}

h3 {
    margin: 0;
    color: rgba(138, 150, 165, 0.8);
    font-style: italic;
}

input {
    width: 100%;
    font-size: 3rem;
    font-family: 'Space Mono', monospace;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid rgba(255, 255, 255);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 0;
    transition: font-size 0.1s;
}

input:focus, textarea:focus {
    outline: none;
}

.output {
    /* font-style: italic; */
    transition: opacity 0.1s;
}

.variables {
    color: rgb(154, 236, 233);
}

.output a {
    transition: background-color 0.5s;
}

.output a:hover {
    background-color: rgb(101, 150, 149);
}

.foreground, #particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    align-content: center;
}

.foreground {
    z-index: 1;
    height: 100vh;
}

#particles {
    z-index: 1;
    height: 100%;
}

.foreground-content {
    padding: 0 80px;
}

@media screen and (max-width: 992px) {
    .wrapper {
        display: block;
        height: calc(7 * 70vh + 30vh);
    }

    .content {
        height: calc(100% - 7*30vh);
    }

    .side-overlay {
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    }

    .side-panel {
        height: 30vh;
    }

    .side-panel ul {
        padding-left: 80px;
    }

    .section, .foreground {
        height: 70vh;
        /* padding: 0 50px; */
    }

    #particles {
        height: calc(700vh - 7*30vh);
    }

    h1, input {
        font-size: 2rem;
    }
}